@charset="UTF-8";

body,html {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
a, a:hover{
    text-decoration: none;
}
.container-fluid {
    padding: 0;
}

.btn-custom {
    background-color: #3498DB;
    color : #ffffff;
}
.separator {
    height: 3px;
    width 5% ;
    border: none;
    box-shadow: none;
    background-color: #3498DB;
}
/* header */
.header {
    background-color: #3498DB;
    height: 70px;
    line-height: 70px;
}
.logo {
    color : #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
        
}
.menu {
    float: right;  
}
.menu a {
    color: #ffffff;
    margin-right: 20px;
}
.menu a:hover {
    color: #2C3E50; 
}

/* Banner */
.banner{
    width : 100%;
    max-width: 100%;
}
.ban{
    width : 100%;
    max-width: 100%;
    position: relative;
}
.ban img{
    width : 100%;
    max-width: 100%;
}
.inner-banner {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}
.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 28px #000000;
	font-size : 72px; 
}
.inner-banner .btn-custom {
    background-color: #3498DB;
    color : #ffffff;
}
.inner-banner .btn-custom:hover {
    background-color: #2C3E58;

}
/* About */
#about {
    text-align: center ;
}
.about artcile {
    margin-top: 10%;
    margin-bottom: 10%;
   
    
}
.about artcile h2 {
    text-align: center;
    
}

/* Portofilo */
.portfolio {
    background-color: #eeeeee;
    height: 600px;
}
#portfolio  {
    text-align: center;
}
.portfolio .item-folio {
    height: 200px;
    background-color: #3498DB;
}
/* contact */
.footer {
    background-color: #2C3E58;
    height: 600px;
}
.footer p {
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
}
#contact {
    color :#ffffff;
    text-align: center ;
}
.formContact {
    width : 500px;
    display: block;
    margin: 0 auto;
}
input {
    margin-bottom: 20px;
}
input[type=text] {
    height: 50px;
    width: 500px;
    border: none;
}
input[type=email] {
    height: 50px;
    width: 500px;
    border: none;
}
textarea {
    width: 500px;
    height: 200px;
    resize: vertical;
}
